-
    class Curso{
        constructor(titulo,detalles,precio,horas,requisitos,contenidos,profesor){
            this.titulo=titulo;
            this.detalles=detalles;
            this.precio=precio;
            this.horas=horas;
            this.requisitos=requisitos;
            this.contenidos=contenidos;
            this.profesor=profesor;
        }
    }