.menu-items 
    a(href=`${direccion}/index.html`) Home
if !footer
    .menu-items
        .cursos
            .cursos-titulo
                a(href="#") Cursos
            .cursos-items
                div HTML
                div Docker
                div Java
.menu-items
    a(href=`${direccion}/calendario.html`) Calendario
.menu-items
    a(href=`${direccion}./giftcard.html`) Gift Card
.menu-items
    a(href=`${direccion}./inscripcion.html`) Inscripción
.menu-items
    a(href=`${direccion}/contacto.html`) Contacto
if menu
    .menu-items
        .buscador-responsive
                input(type="text" id="datoabuscar")
                button(type="submit") Buscar