.detalles
    .img
        img(src=`../img/cursos/${curso.titulo}.png`)
    .tematica
        .principal
            h1 Curso de #{curso.titulo}
            h3 Valor: $#{curso.precio}
            h3 Duración del curso: #{curso.horas}hs.
            h3 Requisitos: #{curso.requisitos}
            input(type="button" value="Inscribirse")
        .contenidos
            h1 Contenidos por clase
            each detalle in curso.contenidos
                div
                    h3 #{detalle.titulo}
                    <i class="fas fa-caret-down"></i>
                ul
                    each clases in detalle.tematicas
                        li #{clases}
.profesor
    div
        h2 DOCENTE
    .descripcion
        div
            img(src=`../img/cursos/${curso.profesor.nombre.toLowerCase()}.jpg`)
        div
            h3 #{curso.profesor.nombre}
            p
                - for(let i=1;i<=curso.profesor.estrellas;i++)
                    <i class="fas fa-star"></i>
            p #{curso.profesor.descripcion}