include ./golang
include ./html
include ./docker
include ./java
include ./javascript
- const cursos=[html,java,javascript,docker,golang];



.cursos-lista
    each curso in cursos
        div
           
            .img
                img(src=`./img/cursos/${curso.titulo.toLowerCase()}.png`)
            .detalles
                h1
                    a(href=`./cursos/${curso.titulo.toLowerCase()}.html`) Curso de #{curso.titulo}
                p 
                    b Detalles: 
                    span #{curso.detalles}
                p 
                    b Cantidad de horas: 
                    span #{curso.horas}
                p
                    b Precio: 
                    span #{curso.precio}